POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_DB=massive_dml_lab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_CONTAINER=postgres-massive-dml-lab

NOISIA_IMAGE=lesovsky/noisia:latest
NOISIA_PLATFORM=linux/amd64
NOISIA_DURATION=60
NOISIA_JOBS=2
NOISIA_WAIT_LOCKTIME_MIN=5
NOISIA_WAIT_LOCKTIME_MAX=15
NOISIA_IDLE_NAPTIME_MIN=5
NOISIA_IDLE_NAPTIME_MAX=20
NOISIA_TEMP_FILES_RATE=2
NOISIA_TEMP_FILES_SCALE_FACTOR=10
NOISIA_ROLLBACKS_MIN_RATE=5
NOISIA_ROLLBACKS_MAX_RATE=20
